<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6637651976-pedm2jc6ah3fg88p189tv6qqsbus4875.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6637651976-pedm2jc6ah3fg88p189tv6qqsbus4875</string>
	<key>API_KEY</key>
	<string>AIzaSyAVSjwv0sVe55O3sT77BhYQ-JMPtINTFW4</string>
	<key>GCM_SENDER_ID</key>
	<string>6637651976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterUi</string>
	<key>PROJECT_ID</key>
	<string>twitterui-548be</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterui-548be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6637651976:ios:b06ca482f1ca7a13e4e9bd</string>
</dict>
</plist>